.img-about{
    border-top-right-radius: 30%;
    border-bottom-left-radius: 30%;
    margin-left: 60px;
}
@keyframes moveUpDown {
    0%, 100% {
      transform: translateY(0); 
    }
    50% {
      transform: translateY(-20px); 
    }
  }
  
  .img-about {
    animation: moveUpDown 3s ease-in-out infinite; 
  }
  